body {
    /* background: url("../images/star-wars-stock.jpg"); */
}



.triviaAnswer {
    background: #232265;
    border-top: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-left: 0px;
    border-right: 0px;
    color: white;
    width: 220px;
    /* position: relative; */
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.triviaAnswer:after {
    top: 3px;
    border-color: transparent transparent transparent #232265;
    border-width: 23px;
}

/* this border color controlls the outside, thin border */
.triviaAnswer:before {
    top: 0px;
    border-color: transparent transparent transparent lightblue;
    /* border-width: 11px; */
    border-width: 26px
}

/* this CS forms the triangles */
/* .triviaAnswer:after,
.triviaAnswer:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    left: 63%;
    width: 0;
    height: 0;
    border-style: solid;
} */

.triangleLeft {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 30px solid #232265;
	border-bottom: 25px solid transparent;
}

.triangleRight {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 30px solid #232265;
	border-bottom: 25px solid transparent;
}

.answerButton {
    /* display: inline-flex; */
}





/* this is the box */
/* .test {
    margin: 15px 30px;
    width: 200px;
    background: #fff;
    border: 1px solid #a00;
    position: relative;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font: bold 1.5em/180px Helvetica, sans-serif;
    text-shadow: 0 0 1px #000;
} */

/* this CS forms the triangles */
/* .test:after,
.test:before {
    content: '';
    display: block;
    position: absolute;
    left: 64%;
    width: 0;
    height: 0;
    border-style: solid;
} */






























.newCharacterDiv {
    display: inline-block;
	width: 200px;
	border: solid 4px black;
	margin: 10px;
	border-radius: 7px;
}

.updatedCharacter {
    background: lightgrey;
}

.updatedCharacterDiv {
    display: inline-block;
	width: 200px;
	border: solid 4px black;
	margin: 10px;
    border-radius: 7px;
    background: lightgrey;
}

.chosenCharacterDiv {
    display: inline-block;
	width: 200px;
	border: solid 4px black;
	margin: 10px;
    border-radius: 7px;
    background: green;
    margin-top: 80px;
}

.opponentCharacterDiv {
    display: inline-block;
	width: 200px;
	border: solid 4px black;
	margin: 10px;
    border-radius: 7px;
    background: red;
    margin-top: 80px;
}

p {
    margin-bottom: 2px;
}

#character-row {
    margin: auto;
}

.subHeadings {
    font-weight: bold;
    font-size: 24px;
    margin: auto;
    padding: 10px 0px 20px;
}

.attackStatus {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.hangman-image {
    max-width: 100%;
}

#hangman {
    background: white;
    width: 100%;
}

.jumbotronHeaderImg {
    /* background: url("../images/star-wars-title9.JPG"); */
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

#my-word {
    margin: 0;
    display: block;
    padding: 0;
    display:block;
  }


#currentWord {
    padding-top: 5px;
}

.gameLabels {
    font-size: 24px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.newLetterDiv {
    /* margin: 0;
    display: block;
    padding: 0;
    display:block;
    white-space: nowrap;
    max-width: 100%;
    overflow: auto; */
    color: transparent;
    border-bottom: 3px solid black;
    padding: 2px;
    margin: 12px;
    display: inline;
    font-size: 36px;
}

.oldLetterDiv {
    /* color: transparent; */
    color: black;
    /* border-bottom: 3px solid black; */
    padding: 2px;
    margin: 12px;
    display: inline;
    font-size: 36px;
}